asgiref==3.8.1
attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
boto3==1.38.27
Django==5.1.7
django-extensions==4.1
django-filter==25.1
django-phonenumber-field==8.1.0
django-storages==1.14.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.28.0
gunicorn==21.2.0
idna==3.10
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
packaging==25.0
phonenumbers==9.0.3
pillow==11.2.1
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dotenv==1.1.0
PyYAML==6.0.2
razorpay==1.4.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
sqlparse==0.5.3
typing_extensions==4.14.1
uritemplate==4.1.1
urllib3==2.4.0
whitenoise==6.6.0
django-import-export>=4.2.0
openpyxl==3.1.2
django-cors-headers==4.4.0
firebase-admin==6.3.0
